body.oswald-spanks {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 10px 20px 30px;
  ma
}

h1,
h2,
h3 {
  font-weight: bold;

}